@{
    MenuViewModel menuViewModel = Model;
    var menu = menuViewModel.Menus;
    var food = menuViewModel.Foods;
    var menuFoods = menuViewModel.MenuFoods;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bookmall - Cafe & Restaurant</title>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"
          rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,700"
          rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes"
          rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/css/open-iconic-bootstrap.min.css" />
    <link rel="stylesheet" href="~/assets/css/animate.css" />
    <link rel="stylesheet" href="~/assets/css/magnific-popup.css" />
    <link rel="stylesheet" href="~/assets/css/aos.css" />
    <link rel="stylesheet" href="~/assets/css/style.css" />
    <script nonce="295b7852-fb52-4c91-960b-1cf2b4221fa2">
        (function (w, d) {
            !(function (bv, bw, bx, by) {
                bv[bx] = bv[bx] || {};
                bv[bx].executed = [];
                bv.zaraz = {
                    deferred: [],
                    listeners: [],
                };
                bv.zaraz.q = [];
                bv.zaraz._f = function (bz) {
                    return function () {
                        var bA = Array.prototype.slice.call(arguments);
                        bv.zaraz.q.push({
                            m: bz,
                            a: bA,
                        });
                    };
                };
                for (const bB of ["track", "set", "debug"])
                    bv.zaraz[bB] = bv.zaraz._f(bB);
                bv.zaraz.init = () => {
                    var bC = bw.getElementsByTagName(by)[0],
                        bD = bw.createElement(by),
                        bE = bw.getElementsByTagName("title")[0];
                    bE && (bv[bx].t = bw.getElementsByTagName("title")[0].text);
                    bv[bx].x = Math.random();
                    bv[bx].w = bv.screen.width;
                    bv[bx].h = bv.screen.height;
                    bv[bx].j = bv.innerHeight;
                    bv[bx].e = bv.innerWidth;
                    bv[bx].l = bv.location.href;
                    bv[bx].r = bw.referrer;
                    bv[bx].k = bv.screen.colorDepth;
                    bv[bx].n = bw.characterSet;
                    bv[bx].o = new Date().getTimezoneOffset();
                    if (bv.dataLayer)
                        for (const bI of Object.entries(
                            Object.entries(dataLayer).reduce((bJ, bK) => ({
                                ...bJ[1],
                                ...bK[1],
                            }))
                        ))
                            zaraz.set(bI[0], bI[1], {
                                scope: "page",
                            });
                    bv[bx].q = [];
                    for (; bv.zaraz.q.length;) {
                        const bL = bv.zaraz.q.shift();
                        bv[bx].q.push(bL);
                    }
                    bD.defer = !0;
                    for (const bM of [localStorage, sessionStorage])
                        Object.keys(bM || {})
                            .filter((bO) => bO.startsWith("_zaraz_"))
                            .forEach((bN) => {
                                try {
                                    bv[bx]["z_" + bN.slice(7)] = JSON.parse(bM.getItem(bN));
                                } catch {
                                    bv[bx]["z_" + bN.slice(7)] = bM.getItem(bN);
                                }
                            });
                    bD.referrerPolicy = "origin";
                    bD.src =
                        "../../cdn-cgi/zaraz/sd0d9.js?z=" +
                        btoa(encodeURIComponent(JSON.stringify(bv[bx])));
                    bC.parentNode.insertBefore(bD, bC);
                };
                ["complete", "interactive"].includes(bw.readyState)
                    ? zaraz.init()
                    : bv.addEventListener("DOMContentLoaded", zaraz.init);
            })(w, d, "zarazData", "script");
        })(window, document);
    </script>
</head>
<body>
    <section class="ftco-section">
        <div class="container">
            <div class="bookmallImg">
                <img src="~/assets/images/bookmall.png" alt="" />
            </div>
            <h2 class="velcome">Bookmall-un menyusuna xoş gəlmisiniz</h2>
            <div class="row">
                <div >
                    @foreach (var item in menu)
                    {
                        <h3 style="text-align: center;margin-top: 97px !important;padding-bottom: 8px !important;" class="mb-5 heading-pricing ">
                            @item.Name
                        </h3>
                    

                        @foreach (var bal in item.MenuFoods)
                        {
                            
                                <div class="pricing-entry d-flex">
                                <a href="/assets/img/food/@bal.Food.FoodImage" style="width: 18%;"  class="hero-menu-item-img image-popup">
                                        <img style="width: 174%;border-radius: 100%;margin-left: 15px !important;" src="/assets/img/food/@bal.Food.FoodImage" alt="">
                                    </a>
                                <div style=" margin-top: 20px;margin-left: 64px;margin-right: 22px;" class="desc pl-3">
                                        <div class="d-flex text align-items-center">
                                            <h3>
                                                <span>@bal.Food.Name</span>
                                            </h3>
                                            <span class="price">$@bal.Food.Price</span>
                                        </div>
                                        <div class="d-block">
                                            <p>
                                                @bal.Food.About
                                            </p>
                                        </div>
                                    </div>
                                </div>
                        }
                    }
                </div>
            </div>
        </div>
    </section>
    <script src="~/aseets/js/jquery.min.js"></script>
    <script src="~/aseets/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/aseets/js/jquery.waypoints.min.js"></script>
    <script src="~/aseets/js/jquery.stellar.min.js"></script>
    <script src="~/aseets/js/owl.carousel.min.js"></script>
    <script src="~/aseets/js/jquery.magnific-popup.min.js"></script>
    <script src="~/aseets/js/aos.js"></script>
    <script src="~/aseets/js/scrollax.min.js"></script>
    <script src="~/aseets/js/main.js"></script>
    <script async
            src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag("js", new Date());
        gtag("config", "UA-23581568-13");
    </script>
    <script defer
            src="https://static.cloudflareinsights.com/beacon.min.js/vb26e4fa9e5134444860be286fd8771851679335129114"
            integrity="sha512-M3hN/6cva/SjwrOtyXeUa5IuCT0sedyfT+jK/OV+s+D0RnzrTfwjwJHhd+wYfMm9HJSrZ1IKksOdddLuN6KOzw=="
            data-cf-beacon='{"rayId":"7b09ec7f5b490c5f","version":"2023.3.0","b":1,"token":"cd0b4b3a733644fc843ef0b185f98241","si":100}'
            crossorigin="anonymous"></script>
</body>
</html>



